flask==3.0.3
transformers==4.46.1
torch>=2.5.0
sentencepiece
protobuf
huggingface-hub
beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.3.0
lxml_html_clean
newspaper3k==0.2.8
tqdm
regex


